:root {
  --color-primary: #3261FF;
  --topbar-bgcolor: #ffffff;
  --topbar-active-bgcolor: #47526c;
  --topbar-menu-active-bgcolor: #273352;
  --sidebar-bgcolor: #262C3D;
  --default-notify-zoom: 1;
}
